$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;

$white: #fff;
$black: #000;
$light-black: #444;
$light-grey: #ececec;
$light-green: #63d1bb;
$dark-green: #56c3b2;
$promo-background: #fafafa;
