<footer>
  <div class="footer__content">
    <a class="footer__logo" href="index.html">
      <svg width="51" height="34">
        <use xlink:href="/images/sprite-svg.svg#logo-footer"></use>
      </svg>
    </a>
    <ul class="footer__social social__list">
      <li class="social__item">
        <a href="#" class="social__link social__link--instagram">
          <svg width="22" height="22">
            <use xlink:href="/images/sprite-svg.svg#social-instagram"></use>
          </svg>
          Мы в Инстаграмме
        </a>
      </li>
      <li>
        <a href="#" class="social__link social__link--facebook">
          <svg width="22" height="22">
            <use xlink:href="/images/sprite-svg.svg#social-facebook"></use>
          </svg>
          Мы в Facebook
        </a>
      </li>
      <li>
        <a href="#" class="social__link social__link--twitter">
          <svg width="22" height="22">
            <use xlink:href="/images/sprite-svg.svg#social-twitter"></use>
          </svg>
          Мы в Twitter
        </a>
      </li>
    </ul>
    <a href="#" class="copyright__link">
      Разработано
      <svg width="27" height="34">
        <use xlink:href="/images/sprite-svg.svg#icon-hat"></use>
      </svg>
    </a>
  </div>
</footer>
