<header class="page-header">
  <nav class="main-nav main-nav--closed main-nav--nojs">
    <div class="main-nav__top">
      <a href="index.html" class="page-header__logo">
        <picture>
          <source media="(min-width: 1150px)" srcset="images/logo-desktop.svg">
          <source media="(min-width: 768px)" srcset="images/logo-tablet.svg">
          <img src="images/logo-mobile.svg" alt="Лого">
        </picture>
      </a>
      <button class="main-nav__toggle" type="button">
        <span class="visually-hidden">Открыть меню</span>
      </button>
    </div>
    <div class="main-nav__bottom">
      <ul class="nav-list nav-list--1">
        <li class="nav-list__item">
          <a href="catalog.html">Каталог товаров</a>
        </li>
        <li class="nav-list__item">
          <a href="form.html">Вязание на заказ</a>
        </li>
      </ul>
      <ul class="nav-list nav-list--2">
        <li class="nav-list__item nav-list__item--search">
          <a href="#">
            <svg width="17.6" height="17.6">
              <use xlink:href="/images/sprite-svg.svg#icon-search"></use>
            </svg>
            Поиск по сайту
          </a>
        </li>
        <li class="nav-list__item nav-list__item--bin">
          <a href="#">
            <svg width="20.294" height="18.849">
              <use xlink:href="/images/sprite-svg.svg#icon-bin"></use>
            </svg>
            Корзина: пока пуста
          </a>
        </li>
      </ul>
      <ul class="nav-list nav-list--3">
        <li class="nav-list__item">
          <a href="#">Новые поступления</a>
        </li>
        <li class="nav-list__item">
          <a href="#">Распродажа</a>
        </li>
      </ul>
      <p class="nav-remark">Бесплатная доставка по России</p>
    </div>
  </nav>
</header>
