.button {
  display: block;
  padding: 17px 28px;

  color: $light-black;
  font-weight: bold;

  font-size: 17px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: none;

  background-color: transparent;
  border: 2px solid $light-black;
}

.button:hover {
  color: $white;

  background-color: $light-black;
}
