.features {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 30px 30px 0;

  font-weight: bold;
}

.features__title {
  margin: 0;

  font-size: 25px;
  line-height: 30px;
}

.features__items {
  margin: 25px 0 0;
  padding: 0;

  list-style: none;
}

.features__item {
  display: flex;
  flex-direction: column;
  margin: 0 0 30px;

  font-size: 17px;
  line-height: 15px;

  svg {
    margin-bottom: 28px;

    fill: $light-green;
  }
}

@media (min-width: $tablet-width) {
  .features {
    width: 768px;
    padding: 55px 50px 30px;
  }

  .features__title {
    font-size: 43px;
    line-height: 50px;
  }

  .features__items {
    display: flex;
    flex-wrap: wrap-reverse;
    margin: 45px 0 0;
  }

  .features__item {
    width: 330px;
    margin: 0 0 55px;
  
    font-size: 20px;
    line-height: 22px;
  
    svg {
      margin-bottom: 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .features {
    width: 1150px;
    padding: 65px 225px 30px;
  }

  .features__title {
    font-size: 53px;
    line-height: 57px;
  }

  .features__item {
    width: 350px;

    svg {
      margin-bottom: 25px;
    }
  }
}
