.main-nav {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
}

.main-nav__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;

  padding: 0 30px;

  border-bottom: 1px solid $light-grey;
}

.page-header__logo {
  height: 40px;
  margin: 0 auto;

  text-align: center;

  &img {
    width: 87px;
    height: 40px; 
  }
}

.main-nav__toggle {
  position: relative;

  display: block;
  width: 20px;
  height: 20px;

  margin: 0;
  padding: 0;

  background-color: transparent;

  border: none;
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 2px;

  background-color: $black;
  box-shadow: 0 6px 0 0 $black, 0 12px 0 0 $black;

  content: "";
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    position: absolute;
    left: 0;

    width: 20px;
    height: 2px;

    background-color: $black;

    content: "";
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__bottom {
    display: none;
  }
  .main-nav--nojs .main-nav__bottom {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    position: relative;

    width: 768px;
  }

  .main-nav__top {
    position: absolute;
    top: 0;

    left: 50px;

    width: 300px;
    height: 90px;
    padding: 0;

    border: none;

    .main-nav__toggle {
      display: none;
    }
  }

  .page-header__logo {
    margin: 0;
  }

  .main-nav__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 1150px;
  }

  .main-nav__top {
    left: calc(50% - 76px);

    width: 152px;
  }

  .page-header__logo {
    height: 74px;
  }
}
