.manufacturing__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 0 58px;
}

.manufacturing {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 260px;
  margin: 0 auto;
  padding: 30px 0 30px;

  border: 1px solid $light-grey;

  button {
    box-sizing: border-box;
    width: 193px;
    margin: 0 auto;
    padding: 15px 23px;

    line-height: 16px;
  }
}

.manufacturing__title {
  position: relative;

  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 187px;
  margin: 0 auto 24px;
  padding: 0 0 0 55px;

  font-size: 17px;
  line-height: 24px;

  svg {
    position: absolute;
    top: calc(50% - 16px);
    left: 0;

    fill: $light-green;
  }
}

.video__wrapper {
  position: relative;
}

.video__button {
  position: absolute;
  top: calc(50% - 37px);
  left: calc(50% - 50.5px);
  z-index: 10;

  font-size: 0;

  &:hover svg {
    transform: scale(1.2);
  }
}

.manufacturing__description {
  margin: 0;
  padding: 30px 50px 50px 35px;

  color: $light-black;
  font-size: 13px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .manufacturing__wrapper {
    width: 768px;
    padding: 0 0 65px;
  }

  .manufacturing {
    width: 668px;
    padding: 0 0 47px;
  
    button {
      width: 585px;
      padding: 18px 0;
    }
  }

  .manufacturing__title {
    width: 314px;
    margin: 30px 42px 0;
    padding: 0 0 0 65px;
  
    font-size: 20px;
  }

  .video__wrapper {
    order: -1;
  }

  .manufacturing__description {
    width: 585px;
    margin: 0 auto;
    padding: 37px 0 41px;
  
    font-size: 15px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .manufacturing__wrapper {
    width: 1150px;
    padding: 58px 0 105px;
  }

  .manufacturing {
    position: relative;

    width: 1050px;
    height: 456px;
    padding: 48px 56px 60px 760px;
  
    button {
      width: 231px;
      padding: 19px 0;
    }
  }

  .manufacturing__title {
    width: 158px;
    margin: 0;
    padding: 54px 0 0;

    svg {
      top: 0;
      left: 0;
    }
  }

  .video__wrapper {
    position: absolute;
    top: 0;
    left: 0;
  }

  .manufacturing__description {
    width: 231px;
  }
}
