.order {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 27px 30px 55px;
}

.order__description {
  margin: 0;

  color: $light-black;
  font-size: 13px;
  line-height: 24px;
}

.order__fieldset {
  display: flex;
  flex-direction: column;
  padding: 25px 0 0;

  .custom-radio {
    margin: 0 0 17px;
  }

  .custom-checkbox {
    margin: 0 0 22px;
  }
}

.fieldset__title {
  display: flex;
  align-items: center;
  margin: 0 0 25px;

  color: $light-green;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;

  span {
    display: block;
    padding: 0 20px 0 0;
  }

  &::after {
    flex-grow: 2;
    height: 1px;

    background-color: $light-green;

    content: "";
  }
}

.fieldset__fio .fieldset__title {
  margin: 0;
}

.order__remark {
  display: block;
  margin: 18px 0 31px;

  color: $light-black;
  font-size: 14px;
  line-height: 16px;
}

.order__button {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .order {
    width: 100%;
    padding: 80px 0 50px;
  }

  .order__description {
    box-sizing: border-box;
    width: 768px;
    margin: 0 auto;
    padding: 0 50px;

    font-size: 17px;
    line-height: 30px;
  }

  .fieldset__wrapper {
    width: 100%;

    &--grey {
      background-color: $light-grey;
    }
  }

  .fieldset__wrapper--buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 768px;
    margin: 0 auto;
    padding: 0 50px;

    .order__button {
      order: -1;
      width: 231px;
    }

    .order__remark {
      font-size: 17px;
      line-height: 30px;
    }
  }

  .order__fieldset {
    position: relative;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 768px;
    margin: 0 auto;
    padding: 50px 50px 45px 216px;
  }

  .order__fieldset--color {
    flex-direction: row;
    justify-content: space-between;

    .custom-checkbox {
      box-sizing: border-box;
      min-width: 200px;
    }
  }

  .order__fieldset--fio,
  .order__fieldset--tel {
    padding-bottom: 10px;
  }

  .order__fieldset--fio label {
    display: flex;
    align-items: center;
    margin-bottom: 38px;
  
    .label-descripion {
      margin: 0 24px 0 0;
    }
  }

  .fieldset__title {
    position: absolute;
    top: 65px;
    left: 52px;
  }
}

@media (min-width: $desktop-width) {
  .order {
    padding: 123px 0 50px;
  }

  .order__description {
    width: 1150px;
    padding: 0 225px;
  }

  .fieldset__wrapper--buttons {
    width: 1150px;
    padding: 0 225px;
  }

  .order__fieldset {
    width: 1150px;
    padding: 50px 225px 45px;
  }

  .order__fieldset--color .custom-checkbox {
    min-width: 180px;
  }

  .fieldset__title {
    left: 115px;
  }
}
