.reviews__wrapper {
  @include zigzag-line-divider;
}

.reviews {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 30px 30px 52px;
}

.reviews__title {
  margin: 0;

  font-size: 25px;
  line-height: 30px;
}

.reviews__write {
  order: 1;
}

.reviews__list {
  padding: 35px 0 37px;
}

.reviews__item {
  box-sizing: border-box;
  min-height: 378px;
  margin: 0 0 35px;
}

.reviews__text {
  margin: 0;

  color: $light-black;
  font-size: 15px;
  line-height: 30px;
}

.reviews__author {
  font-size: 17px;

  &__email {
    display: block;
    margin: 30px 0 0;

    font-weight: bold;
  }

  &__instagram {
    color: $light-black;
  }
}

@media (min-width: $tablet-width) {
  .reviews {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 768px;
    padding: 85px 50px 133px;

    background-image: url('../images/review-bg.jpg');
    background-repeat: no-repeat;
  }

  .reviews__title {
    font-size: 43px;
    line-height: 50px;
  }

  .reviews__write {
    order: 0;
    box-sizing: border-box;
    width: 175px;
  }

  .reviews__list {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: 40px 0 0;
  }

  .reviews__item {
    position: relative;

    min-height: 183px;
    margin: 0;
    padding: 0 0 63px;
  }

  .reviews__text {
    font-size: 17px;
  }

  .reviews__author {
    position: absolute;
    bottom: -50px;
    left: 0;

    margin: 0;
  }

  .reviews__buttons {
    align-self: flex-end;
  }
}

@media (min-width: $desktop-width) {
  .reviews__wrapper {
    box-sizing: border-box;
    width: 1150px;
    margin: 0 auto;
    padding: 0 50px;

    &::after {
      height: 0;
    }
  }

  .reviews {
    @include zigzag-line-divider;

    width: 100%;
    padding: 80px 0 190px 175px;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__list {
    padding: 45px 0 0;
  }

  .reviews__item {
    padding: 0 0 45px;
  }

  .reviews__text {
    width: 772px;
  }
}
