.week-item {
  position: relative;
}

.week-item__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 43px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.week-item::after {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
  
  width: 100%;
  height: 7px;

  background-image: url('../images/zigzag-line.svg');
  background-repeat: repeat;
  background-size: 320px 100%;
  
  content: "";
}

.week-item__title {
  font-size: 25px;
  line-height: 30px;
  margin: 0 0 10px;
}

.week-item__remark {
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
  color: $light-green;
}

.week-item__description {
  font-size: 15px;
  line-height: 24px;
  color: $light-black;

  padding: 30px 0 25px;
  margin: 0;
}

.week-item__stats {
  color: $light-black;
  font-size: 15px;
  line-height: 20px;
  border-collapse: collapse;
  margin: 0 0 28px;

  td {
    padding: 11px 0;
    border-bottom: 1px solid #ececec;
  }
}

.week-item__price {
  font-size: 17px;
  line-height: 24px;
  color: $light-black;
  text-align: center;
  padding: 28px 0;
}
